!!!
%html
  %head
    %link{:href => "/normalize.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/style.css", :rel => "stylesheet", :type => "text/css"}
    %title Rock, Paper, Scissors
  %body
    #outer
      #middle
        #inner
          = yield