#outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

#middle {
  display: table-cell;
  vertical-align: middle;
}

#inner {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  text-align: center;
}

#items {
  width: 58%;
  margin: 0 auto;
  text-align: center;
}

#throws {
  margin-bottom: 140px;
}

#try-again {
  margin-top: 140px;
}

.rock {
  float: left;
}

.paper {
  padding: 0 120px 0 120px;
  float: left;
}

.scissors {
  float: left;
}

.win {
  color: hsla(95, 60%, 37%, 0.9);
}

.ouch {
  color: hsla(5, 60%, 37%, 0.9);
}

h1 {
  color: hsla(184, 60%, 10%, 0.9);
}

a {
  transition: color 0.1s ease;
  color: hsla(184, 60%, 10%, 0.9);
  text-decoration: none;
}

a.animate {
  transition: color 0.5s ease-in-out;
  -webkit-animation: color_change 1s 3s infinite alternate;
  -moz-animation: color_change 1s 3s infinite alternate;
  -ms-animation: color_change 1s 3s infinite alternate;
  -o-animation: color_change 1s 3s infinite alternate;
  animation: color_change 1s 3s infinite alternate;
}

a:hover, a.animate:hover {
  -webkit-animation-iteration-count: 0;
  -moz-animation-iteration-count: 0;
  -ms-animation-iteration-count: 0;
  -o-animation-iteration-count: 0;
  animation-iteration-count: 0;
  color: hsla(185, 60%, 37%, 0.9);
}

@-webkit-keyframes color_change {
  from { color: hsla(184, 60%, 10%, 0.9); }
  to   { color: hsla(185, 60%, 37%, 0.9); }
}
@-moz-keyframes color_change {
  from { color: hsla(184, 60%, 10%, 0.9); }
  to   { color: hsla(185, 60%, 37%, 0.9); }
}
@-ms-keyframes color_change {
  from { color: hsla(184, 60%, 10%, 0.9); }
  to   { color: hsla(185, 60%, 37%, 0.9); }
}
@-o-keyframes color_change {
  from { color: hsla(184, 60%, 10%, 0.9); }
  to   { color: hsla(185, 60%, 37%, 0.9); }
}
@keyframes color_change {
  from { color: hsla(184, 60%, 10%, 0.9); }
  to   { color: hsla(185, 60%, 37%, 0.9); }
}

.text-appear {
  visibility: hidden;
  animation: text-appear-animation 3s ease-in 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.text-appear-you {
  animation-delay: 0.5s;
}

.text-appear-computer {
  animation-delay: 2.0s;
}

.text-appear-message {
  animation-delay: 3.5s;
}

.text-appear-try-again {
  animation-delay: 5.0s;
}

@-webkit-keyframes text-appear-animation {
  from { visibility: hidden; }
  to   { visibility: inherit; }
}
@-moz-keyframes text-appear-animation {
  from { visibility: hidden; }
  to   { visibility: inherit; }
}
@-ms-keyframes text-appear-animation {
  from { visibility: hidden; }
  to   { visibility: inherit; }
}
@-o-keyframes text-appear-animation {
  from { visibility: hidden; }
  to   { visibility: inherit; }
}
@keyframes text-appear-animation {
  from { visibility: hidden; }
  to   { visibility: inherit; }
}