#outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

#middle {
  display: table-cell;
  vertical-align: middle;
}

#inner {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  text-align: center;
}

#items {
  width: 58%;
  margin: 0 auto;
  text-align: center;
}

#throws {
  margin-bottom: 120px;
}

#try-again {
  margin-top: 120px;
}

.rock {
  float: left;
}

.paper {
  padding: 0 120px 0 120px;
  float: left;
}

.scissors {
  float: left;
}

.green {
  color: #549626;
}

.red {
  color: #963026;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #268C96;
}