#main {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 15%;
  width: 1000px;
  text-align: center;
}

#items {
  width: 58%;
  margin: 0 auto;
  text-align: center;
}

#throws {   margin-bottom: 70px; }

#try-again {
  margin-top: 70px;
}

.rock {
  float: left;
}

.paper {
  padding: 0 120px 0 120px;
  float: left;
}

.scissors {
  float: left;
}

a {
  color: black;
  text-decoration: none;
}